*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter,sans-serif;
    height: 100vh;
    background-color: #282D35;
    

}
nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
nav >img {
    margin:0;
    margin-right: 7px;
    /* height: 30px; */
}
nav > h3{
    margin: 0;
    margin-right: auto;
    color: #61DAFB;
    font-size: 25px;
    font-weight: bold;
}
nav > h4 {
    margin: 0;
    color: #deebf8;
    font-weight: 600;
}
main {
    padding: 57px 27px;
    color: white;
    background-image: url("./icon/reactjs-icon 2.png");
    background-repeat: no-repeat;
    background-position: right 75%;
}
main > h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.05em;
}
main > ul {
    margin-top: 46px;
    max-width: 400px;
}
main > ul > li{
    line-height: 19px;
    padding-block: 10px;
}
main > ul > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}